<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gender detection app</title>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    
</head>
<body>

        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <div class="container-fluid">
              <a class="navbar-brand" href="{{url_for('index')}}">AI Online</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{url_for('index')}}">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{{url_for('faceapp')}}">FaceApp</a>
                  </li>
                  
                </ul>
                
              </div>
            </div>
          </nav>
    
    {% block bodyblock %}
      
    {% endblock %}
      <footer class="footer bg-dark" >
            <div class="container text-footer">
                Copyright@AI Online
            </div>
      </footer>
      <style>
        .text-footer{
            color:#fff;
            text-align: center;
        }

        .footer{
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            padding-top: 40px;
            padding-bottom: 20px;
            background-color: black;
        }
      </style>
<script src="../static/js/bootstrap.bundle.min.js"></script>
</body>
</html>